<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GradeChecker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>JVHS watch app (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>JVHS watch app (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>JVHS watch app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>683750D41CC9683200B0F42A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>686FE3FC1C84C00F008F5507</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>686FE4131C84C00F008F5507</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>686FE41E1C84C00F008F5507</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
